.our-team {
    background: #f7f7f7;
    text-align: center;
    margin: 0 auto;
    padding: 40px 0
}

.person {
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

mat-card {
    max-width: 100% !important;
    width: 100% !important;

}