<div class="header" >
   <div class="container">
        <div class="header-content">
            
            <div class="right-section" >
                <h2 class="head-title">جلوبال ادفايس للوساطة في التامين</h2>
            </div>
    
            <div class="left-section">
                <a routerLink="/" class="logo">
                    <img src="assets/images/logo2.png" fxHide.lt-md alt="global advices">
                    <img src="assets/images/logo2.png" fxHide.gt-sm class="img2" alt="global advices">
                </a>
            </div>
        </div>

        <div class="header-content-mobile" style="display: none;">
            <div class="top-header">
                <a routerLink="/" class="logo">
                    <img src="assets/images/logo2.png" fxHide.lt-md alt="global advices">
                    <img src="assets/images/logo2.png" fxHide.gt-sm class="img2" alt="global advices">
                </a>
            </div>
            <div class="bottom-header">
                <h2 class="head-title">جلوبال ادفايس للوساطة في التامين</h2>
            </div>
        </div>

   </div>
</div>