.main-component {
    position: relative;
}

.quotation {
    position: fixed;
    bottom: 5px;
    left: 10px;
    z-index: 2;
    width: 400px;
    height: auto;
    opacity: 0.9;
}

.quotation mat-card {
    height: 100%;
}

.quotation mat-form-field {
    width: 100%;
}

.quotation-title {
    text-align: center;
    margin: 0 auto;
}