<div class="contactus">
    <h2>
        {{'contactus.title' | translate}}
    </h2>

    <div>
        <form class="form" fxLayout="column" fxLayoutGap="10px" fxFlex="500px">
            <mat-form-field appearance="outline">
                <mat-label>الاسم</mat-label>
                <input type="text" matInput autocomplete="off" required/>
            </mat-form-field>



            <mat-form-field appearance="outline">
                <mat-label>الايميل الالكترونى</mat-label>
                <input type="email" matInput autocomplete="off" required/>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>الموضوع</mat-label>
                <input type="email" matInput autocomplete="off" required/>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>الرسالة</mat-label>
                <textarea matInput rows="3"></textarea>
            </mat-form-field>

            <button mat-raised-button type="submit">إرسال</button>

        </form>
    </div>


</div>