h2 {
    color: #444;
}

.contactus {
    padding: 40px 0;
}

/* .mat-label {
    color: #fff;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    color: white;
}

.mat-hint,
input,
 ::placeholder,
.mat-form-field-label {
    color: white;
} */

.website-contact-methods {
    font-size: 20px;
    font-weight: 500;
}

.email_website_text_value {
    font-size: 22px;
    font-weight: 700;
}