<div class="contactus">
    <div class="container">
        <h2>
            {{'contactus.title' | translate}}
        </h2>
    
        <div>
            <!-- <form class="form" fxLayout="column" fxLayoutGap="10px" (window:resize)="onResize($event)" [fxFlex]="size">
                
                <mat-form-field appearance="outline">
                    <mat-label>الاسم</mat-label>
                    <input type="text" matInput autocomplete="off" required/>
                </mat-form-field>
    
    
    
                <mat-form-field appearance="outline">
                    <mat-label>الايميل الالكترونى</mat-label>
                    <input type="email" matInput autocomplete="off" required/>
                </mat-form-field>
    
                <mat-form-field appearance="outline">
                    <mat-label>الموضوع</mat-label>
                    <input type="email" matInput autocomplete="off" required/>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>الرسالة</mat-label>
                    <textarea matInput rows="3"></textarea>
                </mat-form-field>
    
                <button mat-raised-button type="submit" color="primary">إرسال</button>
    
            </form> -->

            <!-- start section contact us-->
            <h2>
                ابقى على اتصال مع جلوبال ادفايس
            </h2>

            <p>تواصل معنا بأي طريقة مناسبة:</p>




            

            <div class="content" 
            fxLayout="row" 
            fxLayout.xs="column" 
            fxFlexFill >
            
                <div fxFlex="50" class="sec1" fxFlex.xs="55">
                   <div class="email_website">
                       <span>
                            <span class="email_website_icon">
                               
                                <h4>
                                    <i class="far fa-comment-alt fa-2x" style="padding-left: 10px;"></i>
                                    <span class="email_website_text_value">
                                    البريد الالكترونى
                                    </span>
                                </h4>
                            </span>

                           
                       </span>

                       <a href="mailto:opera​tion​@​globa​ladvi​ce​-gaib​.​com" class="website-contact-methods">opera​tion​@​globa​ladvi​ce​-gaib​.​com</a>
                   </div>
                   <div class="email_website">
                       <span>
                            <span class="email_website_icon">
                               
                                <h4>
                                    <i class="far fa-comment-alt fa-2x" style="padding-left: 10px;"></i>
                                    <span class="email_website_text_value">
                                     البريد الالكترونى (للوظائف)
                                    </span>
                                </h4>
                            </span>

                           
                       </span>

                       <a href="mailto:jobs​@​globa​ladvi​ce​-gaib​.​com" class="website-contact-methods">jobs​@​globa​ladvi​ce​-gaib​.​com</a>
                   </div>

                   <div class="phone_website">
                    <span>
                         <span class="phone_website_icon">
                           
                             <h4>
                                <i class="fas fa-phone fa-2x" style="padding-left: 10px;"></i>
                                <span class="email_website_text_value">
                                رقم الهاتف
                                </span>
                            </h4>
                         </span>

                         
                    </span>

                    <a href="#" style="direction: ltr;" dir="rtl" class="website-contact-methods">+202 21802323</a>
                    </div>
                </div>
                <div fxFlex="50" class="sec2" >
                    <div class="email_website">
                        <span>
                             <span class="email_website_icon">
                                
                                 <h4>
                                    <i class="fab fa-facebook-square fa-2x" style="padding-left: 10px;"></i>
                                    <span class="email_website_text_value">

                                        فيسبوك
                                    </span>
                                    
                                    </h4>
                             </span>
 
                            
                        </span>
 
                        <a href="https://www.facebook.com/messages/t/GAIBBrokerge" target="_blank" class="website-contact-methods">انضم للمحادثة</a>
                    </div>
 
                    <div class="phone_website">
                     <span>
                          <span class="phone_website_icon">
                            
                              <h4>
                                <i class="fab fa-twitter-square fa-2x" style="padding-left: 10px;"></i>
                                <span class="email_website_text_value">
                                تويتر
                                </span>
                            
                            </h4>
                          </span>
 
                          
                     </span>
 
                     <a href="https://twitter.com/AdviceBrokerage" target="_blank" class="website-contact-methods">انضم للمحادثة</a>
                     </div>
                </div>

            
                
                
            </div>
            
            <p>لا تتردد في الاتصال بنا الآن والحصول على المشورة المهنية</p>

           
            <!-- end section contact us -->


        </div>
        <div style="width: 100%;">
            <h3>
                <i style="color: var(--second-color)" class="fas fa-map-marker"></i>
                45 شارع عبدالحميد بدوي الدور الخامس, أمام البوابةالرئيسية لنادى الشمس, النزهة/القاهرة - مصر</h3>
            <iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3451.170382028486!2d31.351203884883116!3d30.117937681855647!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1458152f44189877%3A0xbebaea5ea13e218c!2z2KzZhNmI2KjYp9mEINin2K_Zgdin2YrYsyDZhNmE2YjYs9in2LfZhyDZgdmJINin2YTYqtij2YXZitmG!5e0!3m2!1sar!2seg!4v1595850893869!5m2!1sar!2seg" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>


</div>