<app-slider [slides]="slides"></app-slider>

<app-our-service></app-our-service>
<!-- 
<app-services></app-services>

<app-other-services></app-other-services> -->

<!-- <app-our-team></app-our-team> -->

<div class="map" style="padding: 40px 0px; background: #f7f7ff;">
    <div class="container">
        <div style="width: 100%;">
            <h3>
                <i style="color: var(--second-color)" class="fas fa-map-marker"></i>
                45 شارع عبدالحميد بدوي الدور الخامس, أمام البوابةالرئيسية لنادى الشمس, النزهة/القاهرة - مصر</h3>
            <iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3451.170382028486!2d31.351203884883116!3d30.117937681855647!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1458152f44189877%3A0xbebaea5ea13e218c!2z2KzZhNmI2KjYp9mEINin2K_Zgdin2YrYsyDZhNmE2YjYs9in2LfZhyDZgdmJINin2YTYqtij2YXZitmG!5e0!3m2!1sar!2seg!4v1595850893869!5m2!1sar!2seg" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>
</div>